{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="static/css/style.css">
    <script src="static/js/demo.js"></script>
</head>
<body>

    <a href="{% url 'index' %}">HOME</a> | <a href="{% url 'about' %}">ABOUT</a> | <a href="{% url 'phone' %}">PHONE</a>
| <a href="{%url 'help'%}">HELP</a>

   {%block body%}{%endblock%}
    
</body>
</html>