<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carapp</title>
</head>
<body>
    <form action="" align ="center">

        <h1 align ="center">Detalis for car</h1>

         <input type="text" placeholder="Enter Your car name"><br><br>
         <input type="text" placeholder="Enter model name"><br><br>
         <input type="text" placeholder="Enter Your car price"><br><br>
         <input type="submit">



    </form>
</body>
</html>