<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 align="center">Register</h1>

    <form action="{% url 'register'%}" method="post" align="center" enctype="multipart/form-data">
        {%csrf_token%}
       <span>{{meg}}</span> <br>
       <input type="hidden" name="id" value="{{s.id}}">
        <input type="text" placeholder="Enter your name" name="name" value="{{s.name}}"><br><br>
         <input type="text" placeholder="Enter your email" name="email" value="{{s.email}}"><br><br>
          <input type="text" placeholder="Enter your age" name="age" value="{{s.age}}"><br><br>
          {% if s %}
          <img src="/media/{{s.image}}" alt="{{s.image}}" height="20px" width="20px">
          {% endif%}
          <input type="file" name="image"><br>
          <input type="submit">

         
    </form>
    <h3 align="center"><a href="{% url 'display'%}" >Display</a></h3> 
</body>
</html>