<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1 align ="center">Product details </h1>
   <form action="{% url 'register'%}" method="post" align ="center">
    {% csrf_token %}
    <span>{{success}}</span><br>
    <input type="hidden" name="id" value="{{p.id}}">
    <input type="text" placeholder="Enter your name" name="name" value="{{p.id}}"><br><br>
    <input type="text" placeholder="Enter your model" name="model" value="{{p.model}}"><br><br>
    <input type="text" placeholder="Enter your qty" name="qty" value="{{p.qty}}"><br><br>
    <input type="text" placeholder="Enter your price" name="price" value="{{p.price}}"><br><br>
    <input type="text" placeholder="Enter your gst" name="gst" value="{{p.gst}}"><br><br>
    <input type="text" placeholder="Enter your online/case" name="online" value="{{p.online}}"><br><br>
    <input type="submit">
    


   </form>

   <h3 align ="center"><a href="{% url 'display'%}">View all details</a></h3>

</body>
</html>