<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dispaly</title>
</head>
<body>
    <h1 align ="center">Car Details</h1>
    <table align="center" border="3px solid balck" cellspacing ="10" cellpadding = "10">
        <tr>
            <th>Id</th>
            <th>car_name</th>
            <th>car_model</th>
            <th>car_price</th>
            <th colspan="2">Action</th>
        </tr>
        {% for cr in cars%}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{cr.name}}</td>
            <td>{{cr.model}}</td>
            <td>{{cr.price}}</td>
          <td><a href="{% url 'delete'%}?id={{cr.id}}">Delete</a></td>

            <td><a href="{% url 'edit'%}?id={{cr.id}}">Edit</a></td>

        </tr>
        {%endfor%}
            
    </table>
   <h3 align ="center"><a href="{% url 'index'%}">Back to home page</a></h3>
</body>
</html>