<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Employee Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-4.0.0.min.js"
        integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>
    <style>
        body {
            background-color: #f5f5f5;
        }

        .container {
            margin-top: 40px;
        }

        img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 50%;
        }
    </style>
</head>

<body>

    <div class="container">
        <h2 class="text-center mb-4">Employee Form</h2>

        <form action="" method="POST" >
            {%csrf_token%}
            <div class="card p-4 shadow">
                <div class="row g-3">
                    <input type="hidden" id="id" name="id">
                    <div class="col-md-4">
                        <input type="text" id="name" class="form-control" placeholder="Name" name="name">
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="dept" class="form-control" placeholder="Department" name="dept">
                    </div>
                    <div class="col-md-4">
                        <input type="number" id="age" class="form-control" placeholder="Age" name="age">
                    </div>
                    <div class="col-md-4">
                        <input type="number" id="salary" class="form-control" placeholder="Salary" name="salary">
                    </div>
                    
                    <div class="col-md-4 d-grid">
                        <button onclick="addEmployee()" class="btn btn-primary" id="smbtn">Add Employee</button>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button onclick="Update()" class="btn btn-primary" id="upbtn">Update Employee</button>
                    </div>
                </div>
            </div>
        </form>

        <!-- Table -->
        <div class="card mt-4 p-3 shadow">
            <h4>Employee List</h4>
            <table class="table table-bordered mt-3">
                <thead class="table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Department</th>
                        <th>Age</th>
                        <th>Salary</th>
                        <th colspan="2">Action</th>
                     
                    </tr>
                </thead>
                <tbody id="tdata"></tbody>
            </table>
        </div>
    </div>


    <script>
        $(document).ready(function (rt) {
            Displayitems()
            $("#upbtn").hide()

           
        })

        function addEmployee() {
            var name = $("#name").val()
            var dept = $("#dept").val()
            var age = $("#age").val()
            var salary = $("#salary").val()
         
            var csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val()

            $.post("register", { csrfmiddlewaretoken, name, dept, age, salary}, function (rt) {
                alert(rt)
                Displayitems()

                $("#name").val("")
                $("#dept").val("")
                $("#age").val("")
                $("#salary").val("")
              

            })
        }

        function Displayitems(){
            $.get('displayitems',{},function(rt){
                rows = ""
                rt.emp.map(ele => {
                    rows+=`<tr>
                            <td>${ele.id}</td>
                             <td>${ele.name}</td>
                              <td>${ele.dept}</td>
                               <td>${ele.age}</td>
                                <td>${ele.salary}</td>
                                <td><button class='btn btn-danger' onclick='deleteitems(${ele.id})'>Delete</button></td>
                                    <td><button class='btn btn-primary' onclick='edititems(${ele.id})'>Edit</button></td>
                                
                           
                        </tr>`
                })
                $("#tdata").html(rows)
            })
        }

        function deleteitems(eid){
            $.get("deleteitems",{eid},function(rt){
                alert(rt)
                Displayitems()
            })
        }

        function edititems(eid){
            $.get("edititems",{eid},function(rt){
                $("#id").val(rt.emp[0].id)
                $("#name").val(rt.emp[0].name)
                 $("#dept").val(rt.emp[0].dept)
                  $("#age").val(rt.emp[0].age)
                   $("#salary").val(rt.emp[0].salary)
                   
                     $("#upbtn").show()
                      $("#smbtn").hide()
            })  
        }

        function Update(){
            var id   =  $("#id").val()
             var name = $("#name").val()
            var dept = $("#dept").val()
            var age = $("#age").val()
            var salary = $("#salary").val()
         
            var csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val()

            $.post("update", { csrfmiddlewaretoken, id ,name, dept, age, salary}, function (rt) {
                alert(rt)
                Displayitems()

             
                $("#name").val("")
                $("#dept").val("")
                $("#age").val("")
                $("#salary").val("")
              
                    $("#upbtn").hide()
                      $("#smbtn").show()
            })
        }
    </script>

</body>

</html>