.main
{

  height: 100vh;
  width: 60%;
 

 
 

}
.img
{
 
  height: 200px;
  margin-left: 550px;
  margin-top: 250px;
 

}

.title
{
 margin-left: 550px;
 margin-top: -50px;
 font-size: 33px;
 font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
 font-weight: 700;
 line-height: 38px;
 width: 471px;



}
body
{
  background-color: rgb(224, 220, 220);
}



.login-box
{
  height: 400px;
  width: 400px;
  border: 2px rgb(235, 232, 232) solid;
  float: right;
  margin-top: -780px;
  margin-right: 350px;
  border-radius: 5px;
  background-color: white;
  box-shadow: rgb(161, 160, 160) 2px 2px  2px 2px;
 


}

.text
{
  width: 80%;
  height: 35px;
  margin-left: 35px;
  margin-top:20px ;

 
}


.text1
{
  width: 80%;
  height: 35px;
  margin-left: 35px;
  margin-top:20px ;
   
}

.login-btn
{
  width: 82%;
  height: 40px;
  margin-left: 35px;
  margin-top:20px ;
  background-color: #0866ff;
  border: #0866ff;
  border-radius: 8px;
  cursor: pointer;
  
}


.create-btn
{

  width: 50%;
  height: 40px;
  margin-left: 105px;
  margin-top:35px ;
  background-color: #42b72a;
  border: #42b72a;
  border-radius: 5px;
  cursor: pointer;

}

.line{
  color: rgb(150, 147, 147);
  margin-left: 35px;
  margin-top: 15px;
 
}

.forgot
{
  margin-left: 129px;
  text-decoration: none;
  margin-top: 5px;
  color: #0866ff;
}

.bottom-text
{
 margin-left: 1390px;
 margin-top: -360px;
        color: inherit;
    font-size: 17px;
    cursor: pointer;
    


}

.create-btn:hover
{
  background-color: #b4f7a7;
}


.text-danger
{
  margin-left: 35px;
  padding: 5px;
  
}

footer
{
  margin-left: 300px;
  font-size: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
  

}