<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 align ="center">Employee Detalis For</h1>
    <form action="{% url 'regitser'%}" align =" center" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <span>{{success}}</span><br><br>
        <input type="hidden" name="id" value="{{e.id}}">
        <input type="text" placeholder="Enter your employee name" name="name" value="{{e.name}}"><br><br>
        <input type="text" placeholder="Enter your email id" name="email" value="{{e.email}}"><br><br>
        <input type="text" placeholder="Enter your employee age" name="age" value="{{e.age}}"><br><br>
        <input type="text" placeholder="Enter your employee salary" name="salary" value="{{e.salary}}"><br><br>
        <input type="text" placeholder="Enter your employee department" name="department" value="{{e.department}}"><br><br>
        {% if e %}
       <img src="media/{{e.image}}" alt="{{e.image}}" height="50px " width="50px">
       {% endif %}
        <input type="file" name="image"><br><br>
        <input type="submit" >





    </form>
    <h3 align ="center"><a href="{% url 'display'%}">Employee view data</a></h3>
</body>
</html>