<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 align ="center">Employee Detalis For</h1>
    <form action="{% url 'regitser'%}" align =" center" method="post">
        {% csrf_token %}

        <span>{{success}}</span><br><br>

        <input type="text" placeholder="Enter your employee name" name="name"><br><br>
        <input type="text" placeholder="Enter your email id" name="email"><br><br>
        <input type="text" placeholder="Enter your employee age" name="age"><br><br>
        <input type="text" placeholder="Enter your employee salary" name="salary"><br><br>
        <input type="text" placeholder="Enter your employee department" name="department"><br><br>
        <input type="submit" >





    </form>
    <h3 align ="center"><a href="{% url 'display'%}">Employee view data</a></h3>
</body>
</html>